/*********footer styles ******/

footer {
  height: 60px;
  position: relative;
  bottom: 0;
  float: none;
  clear:both;
  text-align: center;
  ul{
  text-align: center;
    li{
      color: $yellow;
      display: inline-block;
      font-size: .75em;
      padding: 0 .5em;
      &:first-child {
        margin-right: 1em;
        color:$white;
      }

    }
  }
}
